<style lang="scss">
.pagination {
  justify-content: flex-end !important;
  margin-top: 10px;
  .page-stats {
    margin-top: 10px;
    align-items: center;
    margin-right: 5px;
  }
  i {
    color: #3273dc !important;
  }
}
</style>

<template>
  <nav class="pagination" v-if="!client">
    <span class="page-stats"
      >Halaman : {{ pagination.from }} - {{ pagination.to }} dari
      {{ pagination.total }}</span
    >
    <a
      v-if="pagination.prevPageUrl"
      class="page-link pagination-previous"
      @click="$emit('prev')"
    >
      Prev
    </a>
    <a class="page-link pagination-previous" v-else :disabled="true">
      Prev
    </a>
    <a
      v-if="pagination.nextPageUrl"
      class="page-link pagination-next"
      @click="$emit('next')"
    >
      Next
    </a>
    <a class="page-link pagination-next" v-else :disabled="true">
      Next
    </a>
  </nav>

  <nav class="pagination" v-else>
    <span class="page-stats">
      {{ pagination.from }} - {{ pagination.to }} of {{ filtered.length }}
      <span v-if="filtered.length < pagination.total"
        >(filtered from {{ pagination.total }} total entries)</span
      >
    </span>
    <a
      v-if="pagination.prevPage"
      class="button is-small pagination-previous"
      @click="$emit('prev')"
    >
      Prev
    </a>
    <a class="button is-small pagination-previous" v-else :disabled="true">
      Prev
    </a>

    <a
      v-if="pagination.nextPage"
      class="button is-small pagination-next"
      @click="$emit('next')"
    >
      Next
    </a>
    <a class="button is-small pagination-next" v-else :disabled="true">
      Next
    </a>
  </nav>
</template>

<script>
export default {
  props: ["pagination", "client", "filtered"]
};
</script>