<template>
  <div class="row">
    <div class="col-md-6 d-flex align-items-stretch grid-margin">
      <div class="row flex-grow">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Masukkan Data Outlets</h4>
              <form @submit.prevent="saveData()" class="forms-sample">
                <div class="form-group">
                  <label>Code</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-primary bg-primary"
                        id="colored-addon1"
                      >
                        <i class="mdi mdi-shield-outline text-white"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      v-model="isidata.kode"
                      placeholder="Masukkan Code"
                      aria-label="Masukkan Code"
                      aria-describedby="colored-addon1"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label>Nama</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-primary bg-primary"
                        id="colored-addon1"
                      >
                        <i class="icon-emotsmile text-white"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Masukkan Nama"
                      aria-label="Masukkan Nama"
                      v-model="isidata.nama"
                      aria-describedby="colored-addon1"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label>Alamat</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-primary bg-primary"
                        id="colored-addon1"
                      >
                        <i class="icon-note text-white"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      v-model="isidata.alamat"
                      placeholder="Masukkan Alamat"
                      aria-label="Masukkan Alamat"
                      aria-describedby="colored-addon1"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label>No. Telp / HP</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-primary bg-primary"
                        id="colored-addon1"
                      >
                        <i class="icon-note text-white"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      v-model="isidata.telp"
                      placeholder="Masukkan No. Telp / HP"
                      aria-label="Masukkan No. Telp / HP"
                      aria-describedby="colored-addon1"
                    />
                  </div>
                </div>

                <button type="submit" class="btn btn-success mr-2">
                  Simpan
                </button>
                <router-link to="/outlet">
                  <button class="btn btn-light">Kembali</button>
                </router-link>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Petunjuk Penggunaan</h4>
          <div class="accordion" id="accordion" role="tablist">
            <div class="card accordion-inverse-primary">
              <div class="card-header" role="tab" id="headingOne">
                <h6 class="mb-0">
                  <a
                    data-toggle="collapse"
                    href="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Petunjuk penggunaan input data
                  </a>
                </h6>
              </div>
              <div
                id="collapseOne"
                class="collapse show"
                role="tabpanel"
                aria-labelledby="headingOne"
                data-parent="#accordion"
              >
                <div class="card-body">
                  Silahkan masukkan data sesuai label yang sudah ada, masukkan
                  dengan cara yang telah ditentukan
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isidata: {
        kode: "",
        nama: "",
        alamat: "",
        telp: ""
      }
    };
  },
  methods: {
    async saveData() {
      var kode = this.isidata.kode;
      var nama = this.isidata.nama;
      var alamat = this.isidata.alamat;
      var telp = this.isidata.telp;
      const item = this.isidata;
      if (kode == "") {
        swal({
          toast: true,
          position: "top-end",
          buttons: false,
          timer: 3000,
          closeOnClickOutside: false,
          icon: "warning",
          title: "Warning",
          text: "Kode harus di isi, tidak boleh kosong"
        });
      } else if (nama == "") {
        swal({
          toast: true,
          position: "top-end",
          buttons: false,
          timer: 3000,
          closeOnClickOutside: false,
          icon: "warning",
          title: "Warning",
          text: "Nama harus di isi, tidak boleh kosong"
        });
      } else if (alamat == "") {
        swal({
          toast: true,
          position: "top-end",
          buttons: false,
          timer: 3000,
          closeOnClickOutside: false,
          icon: "warning",
          title: "Warning",
          text: "Alamat harus di isi, tidak boleh kosong"
        });
      } else if (telp == "") {
        swal({
          toast: true,
          position: "top-end",
          buttons: false,
          timer: 3000,
          closeOnClickOutside: false,
          icon: "warning",
          title: "Warning",
          text: "No.Telp harus di isi, tidak boleh kosong"
        });
      } else {
        axios
          .post("/api/outlets", item)
          .then(response => {
            console.log(response);
            this.$router.push("/outlet");
            swal({
              toast: true,
              position: "top-end",
              buttons: false,
              timer: 3000,
              closeOnClickOutside: false,
              icon: "success",
              title: "Sukses",
              text: "Berhasil simpan data"
            });
          })
          .catch(error => console.log(error));
      }
    }
  }
};
</script>