<template>
  <div class="row">
    <div class="col-md-6 d-flex align-items-stretch grid-margin">
      <div class="row flex-grow">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Edit Data Outlets</h4>
              <form @submit.prevent="updateData()" class="forms-sample">
                <div class="form-group">
                  <label>Kode</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-primary bg-primary"
                        id="colored-addon1"
                      >
                        <i class="mdi mdi-shield-outline text-white"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      readonly=""
                      class="form-control"
                      v-model="isidata.kode"
                      placeholder="Masukkan Kode"
                      aria-label="Masukkan Kode"
                      aria-describedby="colored-addon1"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label>Nama</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-primary bg-primary"
                        id="colored-addon1"
                      >
                        <i class="icon-emotsmile text-white"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Masukkan Nama"
                      aria-label="Masukkan Nama"
                      v-model="isidata.nama"
                      aria-describedby="colored-addon1"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label>Alamat</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-primary bg-primary"
                        id="colored-addon1"
                      >
                        <i class="icon-note text-white"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      v-model="isidata.alamat"
                      placeholder="Masukkan Alamat"
                      aria-label="Masukkan Alamat"
                      aria-describedby="colored-addon1"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label>No. Telp / HP</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-primary bg-primary"
                        id="colored-addon1"
                      >
                        <i class="icon-note text-white"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      v-model="isidata.telp"
                      placeholder="Masukkan No. Telp / HP"
                      aria-label="Masukkan No. Telp / HP"
                      aria-describedby="colored-addon1"
                    />
                  </div>
                </div>
                <button type="submit" class="btn btn-success mr-2">
                  Simpan
                </button>
                <router-link to="/outlet">
                  <button class="btn btn-light">Kembali</button>
                </router-link>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Petunjuk Penggunaan</h4>
          <div class="accordion" id="accordion" role="tablist">
            <div class="card accordion-inverse-primary">
              <div class="card-header" role="tab" id="headingOne">
                <h6 class="mb-0">
                  <a
                    data-toggle="collapse"
                    href="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Petunjuk penggunaan input data
                  </a>
                </h6>
              </div>
              <div
                id="collapseOne"
                class="collapse show"
                role="tabpanel"
                aria-labelledby="headingOne"
                data-parent="#accordion"
              >
                <div class="card-body">
                  Silahkan masukkan data sesuai label yang sudah ada, masukkan
                  dengan cara yang telah ditentukan
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isidata: {
        kode: "",
        nama: "",
        alamat: "",
        telp: ""
      }
    };
  },
  created() {
    this.loadData();
  },
  methods: {
    loadData() {
      axios.get("/api/outlets/" + this.$route.params.id).then(response => {
        this.isidata.kode = response.data.code;
        this.isidata.nama = response.data.name;
        this.isidata.alamat = response.data.address;
        this.isidata.telp = response.data.phone;
      });
    },
    async updateData() {
      axios
        .put("/api/outlets/" + this.$route.params.id, {
          code: this.isidata.kode,
          name: this.isidata.nama,
          address: this.isidata.alamat,
          phone: this.isidata.telp
        })
        .then(response => {
          // push router ke read data
          this.$router.push("/outlet");
          swal({
            toast: true,
            position: "top-end",
            buttons: false,
            timer: 3000,
            closeOnClickOutside: false,
            icon: "success",
            title: "Sukses",
            text: "Berhasil update data"
          });
        })
        .catch(error => console.log(error));
    }
  }
};
</script>