<template>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Data Outlet</h4>
          <div class="table-responsive">
            <div class="col-md-7">
              <div class="form-group">
                <div class="row">
                  <div class="input-group">
                    <router-link to="/aoutlet">
                      <button class="btn btn-primary">
                        <i class="icon-list"></i>Tambah
                      </button>
                    </router-link>
                    &nbsp;&nbsp;
                    <select
                      style="max-width:15%;"
                      class="form-control"
                      v-model="tableData.length"
                      @change="getData()"
                    >
                      <option
                        v-for="(records, index) in perPage"
                        :key="index"
                        :value="records"
                        >{{ records }}</option
                      >
                    </select>
                    &nbsp;
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-primary bg-primary"
                        id="colored-addon1"
                      >
                        <i class="icon-feed text-white"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      v-model="tableData.search"
                      @input="getData()"
                      class="form-control"
                      placeholder="Cari data"
                      aria-label="Cari data"
                      aria-describedby="colored-addon1"
                    />
                  </div>
                </div>
              </div>
            </div>

            <datatable
              :columns="columns"
              :sortKey="sortKey"
              :sortOrders="sortOrders"
              @sort="sortBy"
            >
              <tbody>
                <tr v-for="outlet in outlets" :key="outlet.id">
                  <td>{{ outlet.code }}</td>
                  <td>{{ outlet.name }}</td>
                  <td>{{ outlet.address }}</td>
                  <td>{{ outlet.phone }}</td>
                  <td>
                    <router-link :to="'/eoutlet/' + outlet.id">
                      <button class="btn btn-warning">
                        <i class="icon-note"></i>Edit
                      </button>
                    </router-link>
                    <button
                      class="btn btn-danger"
                      v-on:click="deleteData(outlet.id)"
                    >
                      <i class="icon-trash"></i>
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </datatable>
            <pagination
              :pagination="pagination"
              @prev="getData(pagination.prevPageUrl)"
              @next="getData(pagination.nextPageUrl)"
            >
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Datatable from "../../thirdpartial/Datatable.vue";
import Pagination from "../../thirdpartial/Pagination.vue";
export default {
  components: { datatable: Datatable, pagination: Pagination },
  data() {
    let sortOrders = {};
    let columns = [
      { label: "Kode", name: "code" },
      { label: "Nama", name: "name" },
      { label: "Alamat", name: "address" },
      { label: "No. Telp", name: "phone" },
      { label: "Action", name: "action" }
    ];
    columns.forEach(column => {
      sortOrders[column.name] = -1;
    });

    return {
      outlets: {},
      columns: columns,
      sortKey: "name",
      sortOrders: sortOrders,
      perPage: ["10", "30", "50", "100", "150", "200", "500", "1000"],
      tableData: {
        draw: 0,
        length: 10,
        search: "",
        column: 0,
        dir: "asc"
      },
      pagination: {
        lastPage: "",
        currentPage: "",
        total: "",
        lastPageUrl: "",
        nextPageUrl: "",
        prevPageUrl: "",
        from: "",
        to: ""
      }
    };
  },
  created() {
    this.getData();
  },
  methods: {
    async getData(url = "/api/outlets") {
      this.tableData.draw++;
      const token = localStorage.getItem("token");
      const headers = {
        Accept: "application/json",
        Authorization: `Bearer ${token}`
      };
      axios
        .get(url, {
          params: this.tableData,
          headers
        })
        .then(response => {
          let data = response.data;
          if (response.data.status == "Token is Expired") {
            swal({
              toast: true,
              position: "top-end",
              buttons: false,
              timer: 3000,
              closeOnClickOutside: false,
              icon: "warning",
              title: "Warning",
              text: "Token expired, silahkan logout lalu login kembali"
            });
          } else {
            // console.log(response); //jika limit waktu token habis maka tidak bisa get data
            if (this.tableData.draw == data.draw) {
              this.outlets = data.data.data;
              this.configPagination(data.data);
            }
          }
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    configPagination(data) {
      this.pagination.lastPage = data.last_page;
      this.pagination.currentPage = data.current_page;
      this.pagination.total = data.total;
      this.pagination.lastPageUrl = data.last_page_url;
      this.pagination.nextPageUrl = data.next_page_url;
      this.pagination.prevPageUrl = data.prev_page_url;
      this.pagination.from = data.from;
      this.pagination.to = data.to;
    },
    sortBy(key) {
      this.sortKey = key;
      this.sortOrders[key] = this.sortOrders[key] * -1;
      this.tableData.column = this.getIndex(this.columns, "name", key);
      this.tableData.dir = this.sortOrders[key] === 1 ? "asc" : "desc";
      this.getData();
    },
    getIndex(array, key, value) {
      return array.findIndex(i => i[key] == value);
    },
    deleteData(id) {
      swal({
        title: "Apakah yakin ?",
        text: "Data yang di pilih akan di hapus dan tidak bisa di kembalikan",
        icon: "warning",
        buttons: true,
        dangerMode: true
      }).then(willDelete => {
        if (willDelete) {
          axios
            .delete("http://localhost:8000/api/outlets/" + id)
            .then(response => {
              swal("Data berhasil di hapus", {
                toast: true,
                position: "top-end",
                buttons: false,
                timer: 3000,
                closeOnClickOutside: false,
                icon: "success",
                title: "Sukses"
              });
              this.getData();
            });
        }
      });
    }
  }
};
</script>