<template>
  <div>
    <img class="wave" src="../../images/bg1.png" />
    <div class="container">
      <div class="img">
        <img src="../../images/appfront.svg" />
      </div>
      <div class="login-content">
        <form @submit.prevent="onSubmit()">
          <img src="../../images/person.svg" />
          <h2 class="title">SignIn</h2>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <input
                type="text"
                autocomplete="off"
                v-model="isidata.email"
                name="email"
                placeholder="Email"
                class="input"
              />
            </div>
          </div>
          <div class="input-div pass">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
              <input
                type="password"
                name="password"
                autocomplete="off"
                v-model="isidata.password"
                placeholder="Password"
                class="input"
              />
            </div>
          </div>
          <input type="submit" class="btn" value="Login" />
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    localStorage.removeItem("token");
    delete axios.defaults.headers.common["Authorization"];
    return {
      isidata: {
        email: "",
        password: "",
        islog: ""
      }
    };
  },
  methods: {
    onSubmit() {
      if (this.isidata.email == "") {
        swal({
          toast: true,
          position: "top-end",
          buttons: false,
          timer: 3000,
          closeOnClickOutside: false,
          icon: "warning",
          title: "Warning",
          text: "email harus di isi, tidak boleh kosong"
        });
      } else if (this.isidata.password == "") {
        swal({
          toast: true,
          position: "top-end",
          buttons: false,
          timer: 3000,
          closeOnClickOutside: false,
          icon: "warning",
          title: "Warning",
          text: "Password harus di isi, tidak boleh kosong"
        });
      } else {
        if (this.isidata.email && this.isidata.password) {
          const item = this.isidata;
          axios
            .post("/api/auth/login/", item)
            .then(response => {
              const status = response.data.status;
              if (status == "success") {
                const token = response.data.token;
                localStorage.setItem("token", token);
                axios.defaults.headers.common["Access-Control-Allow-Origin"] =
                  "*";
                axios.defaults.headers.common["Authorization"] = token;
                window.location.href = "/beranda";
              }
            })
            .catch(e => {
              localStorage.removeItem("token");
              swal({
                toast: true,
                position: "top-end",
                buttons: false,
                timer: 3000,
                closeOnClickOutside: false,
                icon: "warning",
                title: "Warning",
                text: "email / password yang di masukkan salah"
              });
            });
        }
      }
    }
  }
};
</script>