<template>
  <div class="row">
    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-md-center">
            <i class="icon-emotsmile icon-lg text-success"></i>
            <div class="ml-3">
              <p class="mb-0">Pelanggan</p>
              <h6>{{ customerCount }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-md-center">
            <i class="icon-target icon-lg text-warning"></i>
            <div class="ml-3">
              <p class="mb-0">Outlet</p>
              <h6>{{ outletCount }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-md-center">
            <i class="icon-notebook icon-lg text-info"></i>
            <div class="ml-3">
              <p class="mb-0">Total Pengeluaran</p>
              <h6>Rp. {{ formatPrice(totbiayaKeluar) }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-md-center">
            <i class="icon-tag icon-lg text-danger"></i>
            <div class="ml-3">
              <p class="mb-0">Total Transaksi</p>
              <h6>{{ totTransaksi }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      customerCount: "",
      outletCount: "",
      totbiayaKeluar: "",
      totTransaksi: ""
    };
  },
  created() {
    this.getData();
  },
  methods: {
    formatPrice(value) {
      let val = (value / 1).toFixed(0).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },
    async getData(url = "http://localhost:8000/api/jmldata") {
      const token = localStorage.getItem("token");
      const headers = {
        Accept: "application/json",
        Authorization: `Bearer ${token}`
      };
      axios
        .get(url, { headers })
        .then(response => {
          let countCust = response.data.customer_count;
          let countOutl = response.data.outlet_count;
          let allbiaya = response.data.totbiaya_keluar;
          let alltransaksi = response.data.transc_count;

          if (response.data.status == "Token is Expired") {
            swal({
              toast: true,
              position: "top-end",
              buttons: false,
              timer: 3000,
              closeOnClickOutside: false,
              icon: "warning",
              title: "Warning",
              text: "Token expired, silahkan logout lalu login kembali"
            });
          } else {
            this.customerCount = countCust;
            this.outletCount = countOutl;
            this.totbiayaKeluar = allbiaya;
            this.totTransaksi = alltransaksi;
          }
        })
        .catch(errors => {
          console.log(errors);
        });
    }
  }
};
</script>