<template>
  <div class="row">
    <div class="col-md-6 d-flex align-items-stretch grid-margin">
      <div class="row flex-grow">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Masukkan Data Transaksi</h4>
              <form class="forms-sample">
                <div class="form-group">
                  <label>NIK</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-primary bg-primary"
                        id="colored-addon1"
                      >
                        <i class="icon-emotsmile text-white"></i>
                      </span>
                    </div>
                    <!-- <select
                      required=""
                      class="form-control"
                      v-model="isidata.nama"
                    >
                      <option value="">--Silahkan Pilih--</option>
                      <option
                        v-for="customer in customers"
                        :key="customer.id"
                        :value="customer.id"
                        >{{ customer.name }}</option
                      >
                    </select> -->
                    <input
                      type="text"
                      class="form-control"
                      v-model="isidata.nik"
                      placeholder="Masukkan NIK"
                      aria-label="Masukkan NIK"
                      aria-describedby="colored-addon1"
                    />
                    <button type="button" class="btn btn-info" @click="keynik">
                      <i class="icon-info"></i> Cari
                    </button>
                  </div>
                </div>

                <div class="form-group">
                  <label>Nama Customer</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-primary bg-primary"
                        id="colored-addon1"
                      >
                        <i class="icon-emotsmile text-white"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      readonly=""
                      class="form-control"
                      v-model="isidata.nama"
                      placeholder="Masukkan Nama"
                      aria-label="Masukkan Nama"
                      aria-describedby="colored-addon1"
                    />
                    <input
                      type="hidden"
                      readonly=""
                      class="form-control"
                      v-model="isidata.idcust"
                      placeholder="Masukkan Nama"
                      aria-label="Masukkan Nama"
                      aria-describedby="colored-addon1"
                    />

                    <input
                      type="hidden"
                      class="form-control"
                      v-model="isidata.idlastque"
                      placeholder="Masukkan Qty"
                      aria-label="Masukkan Qty"
                      aria-describedby="colored-addon1"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label>Tgl. Mulai</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-primary bg-primary"
                        id="colored-addon1"
                      >
                        <i class="icon-note text-white"></i>
                      </span>
                    </div>
                    <input
                      type="date"
                      class="form-control"
                      v-model="isidata.tglmulai"
                      aria-describedby="colored-addon1"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label>Tgl. Selesai</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-primary bg-primary"
                        id="colored-addon1"
                      >
                        <i class="icon-note text-white"></i>
                      </span>
                    </div>
                    <input
                      type="date"
                      class="form-control"
                      v-model="isidata.tglselesai"
                      aria-describedby="colored-addon1"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label>Layanan</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-primary bg-primary"
                        id="colored-addon1"
                      >
                        <i class="icon-emotsmile text-white"></i>
                      </span>
                    </div>
                    <select
                      v-on:change="selectLayanan"
                      required=""
                      class="form-control"
                      v-model="isidata.layanan"
                    >
                      <option value="">--Silahkan Pilih--</option>
                      <option
                        v-for="laundPrice in laundPrices"
                        :key="laundPrice.id"
                        :value="laundPrice.id"
                        >{{ laundPrice.name }}</option
                      >
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label>Harga Layanan</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-primary bg-primary"
                        id="colored-addon1"
                      >
                        <i class="icon-note text-white"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      readonly=""
                      v-on:focus="biayaSubtotal"
                      class="form-control"
                      id="upc"
                      v-model="isidata.hargaprice"
                      aria-describedby="colored-addon1"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label>Qty</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-primary bg-primary"
                        id="colored-addon1"
                      >
                        <i class="icon-note text-white"></i>
                      </span>
                    </div>
                    <input
                      v-on:keyup="biayaSubtotal"
                      type="text"
                      class="form-control"
                      v-model="isidata.qty"
                      placeholder="Masukkan Qty"
                      aria-label="Masukkan Qty"
                      aria-describedby="colored-addon1"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label>Subtotal</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-primary bg-primary"
                        id="colored-addon1"
                      >
                        <i class="icon-note text-white"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      readonly=""
                      class="form-control"
                      v-model="isidata.subtotal"
                      placeholder="Masukkan Jumlah"
                      aria-label="Masukkan Jumlah"
                      aria-describedby="colored-addon1"
                    />
                  </div>
                </div>

                <button
                  @click="saveData()"
                  type="button"
                  class="btn btn-success mr-2"
                >
                  Simpan
                </button>
                <router-link to="/transac">
                  <button class="btn btn-light">Kembali</button>
                </router-link>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Petunjuk Penggunaan</h4>
          <div class="accordion" id="accordion" role="tablist">
            <div class="card accordion-inverse-primary">
              <div class="card-header" role="tab" id="headingOne">
                <h6 class="mb-0">
                  <a
                    data-toggle="collapse"
                    href="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Petunjuk penggunaan input data
                  </a>
                </h6>
              </div>
              <div
                id="collapseOne"
                class="collapse show"
                role="tabpanel"
                aria-labelledby="headingOne"
                data-parent="#accordion"
              >
                <div class="card-body">
                  Silahkan masukkan data sesuai label yang sudah ada, masukkan
                  dengan cara yang telah ditentukan
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isidata: {
        nik: "",
        nama: "",
        idcust: "",
        tglmulai: "",
        tglselesai: "",
        layanan: "",
        qty: "",
        subtotal: "",
        hargaprice: "",
        idlastque: ""
      },
      customers: {},
      laundPrices: {}
    };
  },
  created() {
    // this.getCustomer();
    this.getlastque();
    this.getLaundryPrices();
  },
  methods: {
    formatPrice(value) {
      let val = (value / 1).toFixed(0).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },
    biayaSubtotal: function() {
      let harga = this.isidata.hargaprice;
      let qty = this.isidata.qty;
      let bayarsubtotal = harga * qty;
      this.isidata.subtotal = this.formatPrice(bayarsubtotal);
    },
    selectLayanan: function(event) {
      var idlayanan = this.isidata.layanan;
      axios
        .get("/api/laund-price/" + idlayanan)
        .then(response => {
          let harga = response.data.price;
          this.isidata.hargaprice = harga;
          Vue.nextTick(function() {
            $("#upc").focus();
          });
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    keynik: function(event) {
      axios
        .get("/api/customer-nik/" + this.isidata.nik)
        .then(response => {
          if (response.data.length < 1) {
            swal({
              toast: true,
              position: "top-end",
              buttons: false,
              timer: 3000,
              closeOnClickOutside: false,
              icon: "warning",
              title: "Warning",
              text: "Maaf, data tidak ada"
            });
            this.isidata.nama = "";
            this.isidata.idcust = "";
          } else {
            let nama = response.data[0].name;
            let idcustomer = response.data[0].id;
            this.isidata.nama = nama;
            this.isidata.idcust = idcustomer;
          }
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    async getLaundryPrices() {
      axios
        .get("/api/laund-priceall")
        .then(response => {
          let data = response.data;
          this.laundPrices = data;
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    async getlastque() {
      axios
        .get("/api/transclastque")
        .then(response => {
          let nolastquery = response.data[0].urut;
          this.isidata.idlastque = nolastquery;
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    async saveData() {
      var nik = this.isidata.nik;
      var nama = this.isidata.nama;
      var tglmulai = this.isidata.tglmulai;
      var tglselesai = this.isidata.tglselesai;
      var layanan = this.isidata.layanan;
      var qty = this.isidata.qty;
      var subtotal = this.isidata.subtotal;

      if (nik == "") {
        swal({
          toast: true,
          position: "top-end",
          buttons: false,
          timer: 3000,
          closeOnClickOutside: false,
          icon: "warning",
          title: "Warning",
          text: "NIK harus di isi, tidak boleh kosong"
        });
      } else if (nama == "") {
        swal({
          toast: true,
          position: "top-end",
          buttons: false,
          timer: 3000,
          closeOnClickOutside: false,
          icon: "warning",
          title: "Warning",
          text: "Nama harus di isi, tidak boleh kosong"
        });
      } else if (tglmulai == "") {
        swal({
          toast: true,
          position: "top-end",
          buttons: false,
          timer: 3000,
          closeOnClickOutside: false,
          icon: "warning",
          title: "Warning",
          text: "Tgl. mulai harus di isi, tidak boleh kosong"
        });
      } else if (tglselesai == "") {
        swal({
          toast: true,
          position: "top-end",
          buttons: false,
          timer: 3000,
          closeOnClickOutside: false,
          icon: "warning",
          title: "Warning",
          text: "Tgl. selesai harus di isi, tidak boleh kosong"
        });
      } else if (layanan == "") {
        swal({
          toast: true,
          position: "top-end",
          buttons: false,
          timer: 3000,
          closeOnClickOutside: false,
          icon: "warning",
          title: "Warning",
          text: "Layanan harus di isi, tidak boleh kosong"
        });
      } else if (qty == "") {
        swal({
          toast: true,
          position: "top-end",
          buttons: false,
          timer: 3000,
          closeOnClickOutside: false,
          icon: "warning",
          title: "Warning",
          text: "Qty harus di isi, tidak boleh kosong"
        });
      } else if (subtotal == "") {
        swal({
          toast: true,
          position: "top-end",
          buttons: false,
          timer: 3000,
          closeOnClickOutside: false,
          icon: "warning",
          title: "Warning",
          text: "Subtotal harus di isi, tidak boleh kosong"
        });
      } else {
        const item = this.isidata;
        axios
          .post("/api/transc", item)
          .then(response => {
            axios
              .post("/api/det-transc", item)
              .then(resp => {
                this.$router.push("/transac");
                swal({
                  toast: true,
                  position: "top-end",
                  buttons: false,
                  timer: 3000,
                  closeOnClickOutside: false,
                  icon: "success",
                  title: "Sukses",
                  text: "Berhasil simpan data"
                });
              })
              .catch(error => console.log(error));
          })
          .catch(error => console.log(error));
      }
    }
  }
};
</script>