<template>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Data Transaksi</h4>
          <div class="table-responsive">
            <div class="col-md-7">
              <div class="form-group">
                <div class="row">
                  <div class="input-group">
                    <router-link to="/atransac">
                      <button class="btn btn-primary">
                        <i class="icon-list"></i>Tambah
                      </button>
                    </router-link>
                    &nbsp;&nbsp;
                    <select
                      style="max-width:15%;"
                      class="form-control"
                      v-model="tableData.length"
                      @change="getData()"
                    >
                      <option
                        v-for="(records, index) in perPage"
                        :key="index"
                        :value="records"
                        >{{ records }}</option
                      >
                    </select>
                    &nbsp;
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-primary bg-primary"
                        id="colored-addon1"
                      >
                        <i class="icon-feed text-white"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      v-model="tableData.search"
                      @input="getData()"
                      class="form-control"
                      placeholder="Cari data"
                      aria-label="Cari data"
                      aria-describedby="colored-addon1"
                    />
                  </div>
                </div>
              </div>
            </div>

            <datatable
              :columns="columns"
              :sortKey="sortKey"
              :sortOrders="sortOrders"
              @sort="sortBy"
            >
              <tbody>
                <tr v-for="transac in transacs" :key="transac.id">
                  <td>{{ transac.name }}</td>
                  <td>{{ transac.start_date }}</td>
                  <td>{{ transac.end_date }}</td>
                  <td>{{ transac.qty }} Kg</td>
                  <td>Rp. {{ formatPrice(transac.subtotal) }}</td>
                </tr>
              </tbody>
            </datatable>
            <pagination
              :pagination="pagination"
              @prev="getData(pagination.prevPageUrl)"
              @next="getData(pagination.nextPageUrl)"
            >
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Datatable from "../../thirdpartial/Datatable.vue";
import Pagination from "../../thirdpartial/Pagination.vue";
export default {
  components: { datatable: Datatable, pagination: Pagination },
  data() {
    let sortOrders = {};
    let columns = [
      { label: "Nama Customer", name: "customer_id" },
      { label: "Mulai", name: "start_date" },
      { label: "Selesai", name: "end_date" },
      { label: "Qty", name: "qty" },
      { label: "Biaya", name: "subtotal" }
    ];
    columns.forEach(column => {
      sortOrders[column.name] = -1;
    });

    return {
      transacs: {},
      columns: columns,
      sortKey: "name",
      sortOrders: sortOrders,
      perPage: ["10", "30", "50", "100", "150", "200", "500", "1000"],
      tableData: {
        draw: 0,
        length: 10,
        search: "",
        column: 0,
        dir: "asc"
      },
      pagination: {
        lastPage: "",
        currentPage: "",
        total: "",
        lastPageUrl: "",
        nextPageUrl: "",
        prevPageUrl: "",
        from: "",
        to: ""
      }
    };
  },
  created() {
    this.getData();
  },
  methods: {
    formatPrice(value) {
      let val = (value / 1).toFixed(0).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },
    async getData(url = "/api/transc") {
      this.tableData.draw++;
      const token = localStorage.getItem("token");
      const headers = {
        Accept: "application/json",
        Authorization: `Bearer ${token}`
      };
      axios
        .get(url, { params: this.tableData, headers })
        .then(response => {
          let data = response.data;
          if (response.data.status == "Token is Expired") {
            swal({
              toast: true,
              position: "top-end",
              buttons: false,
              timer: 3000,
              closeOnClickOutside: false,
              icon: "warning",
              title: "Warning",
              text: "Token expired, silahkan logout lalu login kembali"
            });
          } else {
            if (this.tableData.draw == data.draw) {
              this.transacs = data.data.data;
              this.configPagination(data.data);
            }
          }
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    configPagination(data) {
      this.pagination.lastPage = data.last_page;
      this.pagination.currentPage = data.current_page;
      this.pagination.total = data.total;
      this.pagination.lastPageUrl = data.last_page_url;
      this.pagination.nextPageUrl = data.next_page_url;
      this.pagination.prevPageUrl = data.prev_page_url;
      this.pagination.from = data.from;
      this.pagination.to = data.to;
    },
    sortBy(key) {
      this.sortKey = key;
      this.sortOrders[key] = this.sortOrders[key] * -1;
      this.tableData.column = this.getIndex(this.columns, "name", key);
      this.tableData.dir = this.sortOrders[key] === 1 ? "asc" : "desc";
      this.getData();
    },
    getIndex(array, key, value) {
      return array.findIndex(i => i[key] == value);
    }
  }
};
</script>