<template>
  <div class="row">
    <div class="col-md-6 d-flex align-items-stretch grid-margin">
      <div class="row flex-grow">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Edit Biaya Pengeluaran</h4>
              <form @submit.prevent="updateData()" class="forms-sample">
                <div class="form-group">
                  <label>Deskripsi</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-primary bg-primary"
                        id="colored-addon1"
                      >
                        <i class="mdi mdi-shield-outline text-white"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      v-model="isidata.deskripsi"
                      placeholder="Masukkan Deskripsi"
                      aria-label="Masukkan Deskripsi"
                      aria-describedby="colored-addon1"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label>Harga</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-primary bg-primary"
                        id="colored-addon1"
                      >
                        <i class="icon-emotsmile text-white"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Masukkan Harga"
                      aria-label="Masukkan Harga"
                      v-model="isidata.harga"
                      aria-describedby="colored-addon1"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label>Catatan</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-primary bg-primary"
                        id="colored-addon1"
                      >
                        <i class="icon-note text-white"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      v-model="isidata.catatan"
                      placeholder="Masukkan Catatan"
                      aria-label="Masukkan Catatan"
                      aria-describedby="colored-addon1"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label>Periode</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-primary bg-primary"
                        id="colored-addon1"
                      >
                        <i class="icon-note text-white"></i>
                      </span>
                    </div>
                    <input
                      type="date"
                      class="form-control"
                      v-model="isidata.periode"
                      aria-describedby="colored-addon1"
                    />
                  </div>
                </div>
                <button type="submit" class="btn btn-success mr-2">
                  Simpan
                </button>
                <router-link to="/expense">
                  <button class="btn btn-light">Kembali</button>
                </router-link>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Petunjuk Penggunaan</h4>
          <div class="accordion" id="accordion" role="tablist">
            <div class="card accordion-inverse-primary">
              <div class="card-header" role="tab" id="headingOne">
                <h6 class="mb-0">
                  <a
                    data-toggle="collapse"
                    href="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Petunjuk penggunaan input data
                  </a>
                </h6>
              </div>
              <div
                id="collapseOne"
                class="collapse show"
                role="tabpanel"
                aria-labelledby="headingOne"
                data-parent="#accordion"
              >
                <div class="card-body">
                  Silahkan masukkan data sesuai label yang sudah ada, masukkan
                  dengan cara yang telah ditentukan
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isidata: {
        deskripsi: "",
        harga: "",
        catatan: "",
        periode: ""
      }
    };
  },
  created() {
    this.loadData();
  },
  methods: {
    loadData() {
      axios.get("/api/expense/" + this.$route.params.id).then(response => {
        this.isidata.deskripsi = response.data.description;
        this.isidata.harga = response.data.price;
        this.isidata.catatan = response.data.note;
        this.isidata.periode = response.data.periode;
      });
    },
    async updateData() {
      axios
        .put("/api/expense/" + this.$route.params.id, {
          description: this.isidata.deskripsi,
          price: this.isidata.harga,
          note: this.isidata.catatan,
          periode: this.isidata.periode
        })
        .then(response => {
          // push router ke read data
          this.$router.push("/expense");
          swal({
            toast: true,
            position: "top-end",
            buttons: false,
            timer: 3000,
            closeOnClickOutside: false,
            icon: "success",
            title: "Sukses",
            text: "Berhasil update data"
          });
        })
        .catch(error => console.log(error));
    }
  }
};
</script>